DATABASE_URL=postgresql://saphihub:saphihub@db:5432/saphihub
SECRET_KEY=mysupersecretandultrasuperduperswiftsecretkey
GITHUB_CLIENT_ID=Iv23lij7HPI9mEIYXUYB
GITHUB_CLIENT_SECRET=864a5c8ec3c5f9157bf9ad1ceef303ba5ad24dae
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=saphihub
POSTGRES_PASSWORD=saphihub
POSTGRES_DB=saphihub
