DATABASE_URL=postgresql://acadex:acadex@db:5432/acadex
SECRET_KEY=cambia_esto_en_produccion
GITHUB_CLIENT_ID=tu_github_client_id
GITHUB_CLIENT_SECRET=tu_github_client_secret
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=acadex
POSTGRES_PASSWORD=acadex
POSTGRES_DB=acadex
